openapi: 3.0.3
info:
  title: Ravelin Server 3D Secure Disputes API
  version: '1'
  description: 'Ravelin''s PSP-agnostic, PCI 3DS-validated 3D Secure Server API. Implements EMV 3DS 2.x

    Authentication Request (AReq), Challenge, Result, and Version Lookup operations against

    3ds.live.pci.ravelin.com. Supports both encrypted payment method payloads and unencrypted

    PAN, dynamic exemption routing, and card-scheme-specific authentication values (CAVV, AAV,

    AEVV). Integrates with the Ravelin iOS, Android, and browser SDKs for App-based (APP),

    Browser-based (BRW), and 3RI (3DS Requestor Initiated) channels.


    Endpoint documentation: https://developer.ravelin.com/merchant/api/endpoints/3d-secure/.

    '
  contact:
    name: Ravelin Support
    url: https://support.ravelin.com/
  termsOfService: https://www.ravelin.com/legal/terms-of-service
  license:
    name: Proprietary
servers:
- url: https://3ds.live.pci.ravelin.com
  description: PCI 3DS production endpoint
security:
- secretApiKey: []
tags:
- name: Disputes
  description: Chargebacks, disputes, and reclaim events.
paths:
  /v2/dispute:
    post:
      tags:
      - Disputes
      summary: Submit a Dispute
      operationId: createDispute
      description: Notify Ravelin of an issuer-initiated dispute or chargeback so it can feed back into ML training and link analysis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/reclaim:
    post:
      tags:
      - Disputes
      summary: Submit a Reclaim Event
      operationId: createReclaim
      description: Submit a customer reclaim or goodwill credit event for refund and policy-abuse scoring.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReclaimRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    DisputeRequest:
      type: object
      required:
      - timestamp
      - orderId
      properties:
        timestamp:
          type: integer
          format: int64
        orderId:
          type: string
        customerId:
          type: string
        dispute:
          type: object
          properties:
            disputeId:
              type: string
            amount:
              type: integer
            currency:
              type: string
            reasonCode:
              type: string
            status:
              type: string
    Error:
      type: object
      properties:
        status:
          type: integer
        timestamp:
          type: integer
          format: int64
        message:
          type: string
    DecisionResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code echoed in the body.
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for when the decision was finalized.
        message:
          type: string
          description: Error description, if any.
        data:
          type: object
          properties:
            action:
              type: string
              enum:
              - ALLOW
              - REVIEW
              - PREVENT
              - PERMIT
              - WARN
              - BLOCK
              description: Recommended action. PERMIT / WARN / BLOCK are legacy aliases of ALLOW / REVIEW / PREVENT.
            source:
              type: string
              enum:
              - RAVELIN
              - RULE
              - LOOKUP
              - RATE_LIMIT
              description: Source of the recommendation.
            score:
              type: integer
              minimum: 0
              maximum: 100
              description: Fraud confidence score between 0 and 100.
            scoreId:
              type: string
              description: Unique identifier for this score, used to correlate the decision with downstream events.
            customerId:
              type: string
              description: Customer identifier echoed back from the request.
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
                    enum:
                    - active
                    - passive
                  description:
                    type: string
            warnings:
              type: array
              description: Data-quality warnings flagged on the input payload.
              items:
                type: object
    ReclaimRequest:
      type: object
      required:
      - timestamp
      - orderId
      properties:
        timestamp:
          type: integer
          format: int64
        orderId:
          type: string
        customerId:
          type: string
        reclaim:
          type: object
          properties:
            reclaimId:
              type: string
            amount:
              type: integer
            currency:
              type: string
            reason:
              type: string
  responses:
    RateLimited:
      description: Per-merchant rate limit exceeded. Ravelin retains and processes the data after the limit clears, but the response is a 429.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Decision:
      description: Risk decision returned successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DecisionResponse'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    secretApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Secret API key prefixed with `token`.
