openapi: 3.2.0
info:
  title: Ravelin Merchant Authentication API
  version: '2'
  description: 'The Ravelin Merchant API is the REST surface used by merchants to submit customer, order, login,

    registration, transaction, payment, voucher, supplier, dispute, refund, payout, and reclaim events

    to Ravelin and receive back a real-time risk decision.'
  contact:
    name: Ravelin Support
    url: https://support.ravelin.com/
  termsOfService: https://www.ravelin.com/legal/terms-of-service
  license:
    name: Proprietary
servers:
- url: https://api.ravelin.com
  description: Production
security:
- secretApiKey: []
tags:
- name: Authentication
  description: Login and registration events for account takeover scoring.
paths:
  /v3/login:
    post:
      tags:
      - Authentication
      summary: Score a Login Event
      operationId: createLoginV3
      description: Submit a login attempt (successful or failed) for account takeover scoring. Supports password, social, OTP, U2F, RSA, SMS, magic link, reCAPTCHA, biometric, and push authentication mechanisms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/registration:
    post:
      tags:
      - Authentication
      summary: Score a Registration Event
      operationId: createRegistration
      description: Score a new customer or supplier registration event for fake-account, breach-credential, and onboarding-fraud risk.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Per-merchant rate limit exceeded. Ravelin retains and processes the data after the limit clears, but the response is a 429.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Decision:
      description: Risk decision returned successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DecisionResponse'
  schemas:
    DecisionResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code echoed in the body.
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for when the decision was finalized.
        message:
          type: string
          description: Error description, if any.
        data:
          type: object
          properties:
            action:
              type: string
              enum:
              - ALLOW
              - REVIEW
              - PREVENT
              - PERMIT
              - WARN
              - BLOCK
              description: Recommended action. PERMIT / WARN / BLOCK are legacy aliases of ALLOW / REVIEW / PREVENT.
            source:
              type: string
              enum:
              - RAVELIN
              - RULE
              - LOOKUP
              - RATE_LIMIT
              description: Source of the recommendation.
            score:
              type: integer
              minimum: 0
              maximum: 100
              description: Fraud confidence score between 0 and 100.
            scoreId:
              type: string
              description: Unique identifier for this score, used to correlate the decision with downstream events.
            customerId:
              type: string
              description: Customer identifier echoed back from the request.
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
                    enum:
                    - active
                    - passive
                  description:
                    type: string
            warnings:
              type: array
              description: Data-quality warnings flagged on the input payload.
              items:
                type: object
    RegistrationRequest:
      type: object
      required:
      - timestamp
      - registration
      properties:
        timestamp:
          type: integer
          format: int64
        registration:
          type: object
          properties:
            app:
              type: object
              properties:
                name:
                  type: string
                platform:
                  type: string
                domain:
                  type: string
            registrationMechanism:
              type: object
              description: password | social | oneTimeCode | captcha | biometric.
        customer:
          $ref: '#/components/schemas/Customer'
        supplier:
          type: object
          properties:
            supplierId:
              type: string
            type:
              type: string
              enum:
              - driver
              - courier
              - restaurant
              - shop
              - seller
              - other
            email:
              type: string
            name:
              type: string
            telephone:
              type: string
            groupId:
              type: string
            groupName:
              type: string
            registrationTime:
              type: integer
              format: int64
        device:
          $ref: '#/components/schemas/Device'
    LoginRequest:
      type: object
      required:
      - timestamp
      - login
      properties:
        timestamp:
          type: integer
          format: int64
        login:
          type: object
          required:
          - username
          - success
          properties:
            username:
              type: string
            success:
              type: boolean
            authenticationMechanism:
              type: object
              description: At least one of password, social, oneTimeCode, u2f, rsaKey, smsCode, magicLink, captcha, biometric, push.
            app:
              type: object
              properties:
                name:
                  type: string
                platform:
                  type: string
                domain:
                  type: string
        device:
          $ref: '#/components/schemas/Device'
    Error:
      type: object
      properties:
        status:
          type: integer
        timestamp:
          type: integer
          format: int64
        message:
          type: string
    Device:
      type: object
      properties:
        deviceId:
          type: string
        ipAddress:
          type: string
        userAgent:
          type: string
        language:
          type: string
        location:
          type: object
    Customer:
      type: object
      properties:
        customerId:
          type: string
          maxLength: 300
        email:
          type: string
          format: email
        registrationTime:
          type: integer
          format: int64
        emailVerifiedTime:
          type: integer
          format: int64
        name:
          type: string
        familyName:
          type: string
        givenName:
          type: string
        telephone:
          type: string
          description: E.164 format preferred.
        telephoneVerifiedTime:
          type: integer
          format: int64
        accountType:
          type: string
          enum:
          - GUEST
          - REGISTERED
        location:
          type: object
          properties:
            country:
              type: string
            postalCode:
              type: string
            street:
              type: string
            city:
              type: string
            region:
              type: string
  securitySchemes:
    secretApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with the literal word `token`, e.g. `Authorization: token sk_live_...`.'
