openapi: 3.2.0
info:
  title: Ravelin Merchant Disputes API
  version: '2'
  description: 'The Ravelin Merchant API is the REST surface used by merchants to submit customer, order, login,

    registration, transaction, payment, voucher, supplier, dispute, refund, payout, and reclaim events

    to Ravelin and receive back a real-time risk decision.'
  contact:
    name: Ravelin Support
    url: https://support.ravelin.com/
  termsOfService: https://www.ravelin.com/legal/terms-of-service
  license:
    name: Proprietary
servers:
- url: https://api.ravelin.com
  description: Production
security:
- secretApiKey: []
tags:
- name: Disputes
  description: Chargebacks, disputes, and reclaim events.
paths:
  /v2/dispute:
    post:
      tags:
      - Disputes
      summary: Submit a Dispute
      operationId: createDispute
      description: Notify Ravelin of an issuer-initiated dispute or chargeback so it can feed back into ML training and link analysis.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisputeRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2/reclaim:
    post:
      tags:
      - Disputes
      summary: Submit a Reclaim Event
      operationId: createReclaim
      description: Submit a customer reclaim or goodwill credit event for refund and policy-abuse scoring.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReclaimRequest'
      responses:
        '200':
          $ref: '#/components/responses/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Per-merchant rate limit exceeded. Ravelin retains and processes the data after the limit clears, but the response is a 429.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Decision:
      description: Risk decision returned successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DecisionResponse'
  schemas:
    DecisionResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code echoed in the body.
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds for when the decision was finalized.
        message:
          type: string
          description: Error description, if any.
        data:
          type: object
          properties:
            action:
              type: string
              enum:
              - ALLOW
              - REVIEW
              - PREVENT
              - PERMIT
              - WARN
              - BLOCK
              description: Recommended action. PERMIT / WARN / BLOCK are legacy aliases of ALLOW / REVIEW / PREVENT.
            source:
              type: string
              enum:
              - RAVELIN
              - RULE
              - LOOKUP
              - RATE_LIMIT
              description: Source of the recommendation.
            score:
              type: integer
              minimum: 0
              maximum: 100
              description: Fraud confidence score between 0 and 100.
            scoreId:
              type: string
              description: Unique identifier for this score, used to correlate the decision with downstream events.
            customerId:
              type: string
              description: Customer identifier echoed back from the request.
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  state:
                    type: string
                    enum:
                    - active
                    - passive
                  description:
                    type: string
            warnings:
              type: array
              description: Data-quality warnings flagged on the input payload.
              items:
                type: object
    DisputeRequest:
      type: object
      required:
      - timestamp
      - orderId
      properties:
        timestamp:
          type: integer
          format: int64
        orderId:
          type: string
        customerId:
          type: string
        dispute:
          type: object
          properties:
            disputeId:
              type: string
            amount:
              type: integer
            currency:
              type: string
            reasonCode:
              type: string
            status:
              type: string
    Error:
      type: object
      properties:
        status:
          type: integer
        timestamp:
          type: integer
          format: int64
        message:
          type: string
    ReclaimRequest:
      type: object
      required:
      - timestamp
      - orderId
      properties:
        timestamp:
          type: integer
          format: int64
        orderId:
          type: string
        customerId:
          type: string
        reclaim:
          type: object
          properties:
            reclaimId:
              type: string
            amount:
              type: integer
            currency:
              type: string
            reason:
              type: string
  securitySchemes:
    secretApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Secret API key prefixed with the literal word `token`, e.g. `Authorization: token sk_live_...`.'
